.burger-toggle {
	border: none !important;
	/* Supprimer la bordure */
	background: none;
	/* Supprimer le fond par défaut */
	padding: 0;
	/* Ajuster l'espacement si nécessaire */
}

.burger-toggle:focus {
	box-shadow: none !important;
	/* Supprimer l'effet focus (si présent) */
}

#navbar-logo {
	width: 50px;
}

/* Animation for categories */
.categories-container {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}

.categories-container.open {
	max-height: 500px;
	/* Adjust as needed */
	transition: max-height 0.5s ease-in;
}

/* Animation for icon rotation */
.icon-rotate {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	/* Assurez-vous que la taille est constante */
	height: 24px;
	/* Assurez-vous que la taille est constante */
	transition: transform 0.3s ease-in-out;
}

.icon-rotate.open {
	transform: rotate(180deg);
	/* Rotate the icon */
}

.navbar-home {
	background-color: transparent !important;
	/* Transparente sur la page d'accueil */
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	/* Pour s'assurer qu'elle est au-dessus du contenu */
}

.navbar {
	background-color: white;
	/* Autres pages ont une navbar blanche */
}

.burger-toggle span:hover {
	/* Couleur de survol des barres du burger sur la page d'accueil */
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(140, 140, 242, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.burger-home span {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	/* Couleur des barres du burger sur la page d'accueil */
}

.navbar-home .custom-dropdown-toggle,.navbar-home .nav-link {
	color: white;
}