# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/assets/images/Objets/TabouretDeux/TabouretDeux1.JPG
src/assets/images/Objets/TabouretDeux/TabouretDeux2.JPG
src/assets/images/Objets/TabouretDeux/TabouretDeux3.JPG
src/assets/images/Objets/TabouretDeux/TabouretDeux4.JPG
src/assets/images/Objets/TabouretUn/TabouretUn1.JPG
src/assets/images/Objets/TabouretUn/TabouretUn2.JPG
src/assets/images/Sculptures/Aglomerats/Aglomerats1.HEIC
src/assets/images/Sculptures/Aglomerats/Aglomerats2.HEIC
src/assets/images/Sculptures/Aglomerats/Aglomerats3.HEIC
src/assets/images/Sculptures/Aglomerats/Aglomerats4.HEIC
src/assets/images/Sculptures/Aglomerats/Aglomerats5.HEIC
src/assets/images/Sculptures/Aglomerats/Aglomerats6.HEIC
src/assets/images/Sculptures/Arkhaîos1/Arkhaîos11.JPG
src/assets/images/Sculptures/Arkhaîos1/Arkhaîos12.jpg
src/assets/images/Sculptures/Arkhaîos2/Arkhaîos21.jpg
src/assets/images/Sculptures/Arkhaîos2/Arkhaîos22.jpg
src/assets/images/Sculptures/Arkhaîos2/Arkhaîos23.JPG
src/assets/images/Sculptures/Arkhaîos2/Arkhaîos24.JPG
src/assets/images/Sculptures/Arkhaîos2/Arkhaîos25.JPG
src/assets/images/Sculptures/Arkhaîos2/Arkhaîos26.jpg
src/assets/images/Sculptures/Arkhaîos3/Arkhaîos31.jpg
src/assets/images/Sculptures/Arkhaîos3/Arkhaîos32.jpg
src/assets/images/Sculptures/Arkhaîos4/Arkhaîos41.jpg
src/assets/images/Sculptures/Arkhaîos4/Arkhaîos42.jpg
src/assets/images/Sculptures/Arkhaîos5/Arkhaîos51.jpg
src/assets/images/Sculptures/Arkhaîos5/Arkhaîos52.JPG
src/assets/images/Sculptures/Cheval/Cheval1.JPG
src/assets/images/Sculptures/Cheval/Cheval2.JPG
src/assets/images/Sculptures/Cheval/Cheval3.JPG
src/assets/images/Sculptures/MainAutoDestructrice/MainAutoDestructrice1.jpg
src/assets/images/Sculptures/MainAutoDestructrice/MainAutoDestructrice2.jpg
src/assets/images/Sculptures/MainAutoDestructrice/MainAutoDestructrice3.jpg
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions1.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions10.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions11.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions12.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions13.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions14.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions15.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions16.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions17.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions2.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions3.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions4.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions5.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions6.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions7.JPG
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions8.jpg
src/assets/images/Sculptures/ParallepipedeEtFormeDeRevolutions/ParallepipedeEtFormeDeRevolutions9.JPG
src/assets/images/Sculptures/SansTitre(Constructions2)/SansTitre(Constructions2)1.jpg
src/assets/images/Sculptures/SansTitre(Constructions2)/SansTitre(Constructions2)2.jpg
src/assets/images/Sculptures/SansTitre(Constructions2)/SansTitre(Constructions2)3.jpg
src/assets/images/Sculptures/SculpturesMainsBerton/SculpturesMainsBerton1.jpg
src/assets/images/Sculptures/SculpturesMainsBerton/SculpturesMainsBerton2.JPG
src/assets/images/Sculptures/SculpturesMainsBerton/SculpturesMainsBerton3.JPG
src/assets/images/Sculptures/SculpturesMainsBerton/SculpturesMainsBerton4.jpg
src/assets/images/Sculptures/SculpturesMainsBerton/SculpturesMainsBerton5.jpg
src/assets/images/Sculptures/Surchauffe/Surchauffe1.JPG
src/assets/images/Sculptures/Surchauffe/Surchauffe2.JPG
