.privacy-policy-container {
	line-height: 1.6;
}

.privacy-policy-container h2 {
	margin: 35px 0px;
	color: #555;
}

.privacy-policy-container p,
.privacy-policy-container ul {
	margin-bottom: 10px;
	text-align: justify;
}

.privacy-policy-container ul li {
	margin-bottom: 5px;
}