:root {
	--color-title: #333356;
	--color-title-hover: #747474;
}


body {
	margin: 0;
	font-family: "CenturyGothic", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	color: #000 !important;
}

/* Barre latérale */
.sidebar {
	position: fixed;
	top: 0;
	left: -320px;
	width: 320px;
	height: 100%;
	background-color: #f8f9fa;
	transition: left 0.3s ease-in-out;
	z-index: 1050;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	font-family: "CenturyGothic", sans-serif;
}

.sidebar.open {
	left: 0;
}

.sidebar p,
a {
	letter-spacing: .2em;
	text-transform: uppercase;
	cursor: pointer;
}

.close-btn-container {
	display: flex;
	justify-content: flex-start;
	padding: 10px 20px;
}

.close-btn {
	font-size: 1.2rem;
	background-color: transparent !important;
	color: #333 !important;
	border: none !important;
	cursor: pointer;
}

/* Liens dans la barre latérale */

.sidebar-menu-first {
	color: var(--color-title) !important;
	font-size: 16px !important;
}

.sidebar-menu-first:hover {
	color: var(--color-title-hover) !important;
	font-size: 18px !important;
}

.sidebar-menu-secondary {
	color: #939393 !important;
	font-size: 15px !important;
}

.sidebar-menu-secondary:hover {
	color: #333 !important;
	font-size: 17px !important;
}

.hr-menu {
	border: 1px solid #afafaf;
	margin: 10px 0;
}

/* Overlay pour fermer le menu en cliquant à l'extérieur */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1049;
}